*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
ws-facturas/target
ws-facturas/ws-facturas.iml
intMiddl2015.iml
lealtad/lealtad.iml
lealtad/target
ws-entradas/ws-entradas.iml
ws-entradas/target
central/central.iml
central/target
central/src/main/java/build.xml
central/activemq-data

ftp-server/ftp-server.iml