<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://jax-ws.dev.java.net/spring/core
           http://jax-ws.dev.java.net/spring/core.xsd
           http://jax-ws.dev.java.net/spring/servlet
           http://jax-ws.dev.java.net/spring/servlet.xsd">


    <!-- jax-ws endpoint-->
    <wss:binding url="/ws-facturas/otherservices">
          <wss:service>
                 <ws:service bean="#ws-facturas-method" />
          </wss:service>
    </wss:binding>

    <bean id="ws-facturas-method" class="org.fing.middleware.services.ServicioRecepcionPagos">
    </bean>

    <bean id="IProcesarPagos" class="uy.mgcoders.listener.ProcesarPagosImpl"/>

    <import resource="wsoutboundContext.xml"/>-->



</beans>